<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="script/script.js"></script>
    </head>
    <body ng-app="myApp">
        <div ng-controller="myCtrl">
            <h2>Stock API</h2>
            <h3>All Items</h3>
            <ol>
                <li ng-repeat="sto in stocks">{{sto.drugName}} </li>
            </ol>
            <h3>Add New Department</h3>
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" ng-model="deptId"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" ng-model="deptName"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button ng-click="addDepartment()">Add Department</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>
