<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		Edit Stock
		<small>Fill all the information about adding drug</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
		<li><a href="#stock"><i class="fa fa-th"></i>Stock</a></li>
		<li><a href="#stock/D656561216"><i class="fa fa-flask"></i>Panadol</a></li>
		<li><a href=""><i class="fa fa-pencil"></i>Edit</a></li>
	</ol>
</section>

<!-- Main content -->
<section class="content">

	<!-- Default box -->
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Edit Stock Information</h3>

			<div class="box-body">
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body">
						<div class="form-group">
						<label for="" class="col-sm-2 control-label">Name</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" id="" placeholder="Name">
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">Category</label>

							<div class="col-sm-10">
								<select class="form-control">
									<option>Cat 1</option>
									<option>Cat 2</option>
									<option>Cat 3</option>
									<option>Cat 4</option>
									<option>Cat 5</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">Unit</label>

							<div class="col-sm-10">
								<select class="form-control">
									<option>Tablets</option>
									<option>Capsule</option>
									<option>Bottle</option>
									<option>Drop</option>
									<option>Equipment</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">Level 1 Container</label>

							<div class="col-sm-10">
								<select class="form-control">
									<option>Level 1 Box</option>
									<option>Level 2 Box</option>
									<option>Level 3 Box</option>

								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">Level 2 Container</label>

							<div class="col-sm-10">
								<select class="form-control">
									<option>Level 1 Box</option>
									<option>Level 2 Box</option>
									<option>Level 3 Box</option>

								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">Level 3 Container</label>

							<div class="col-sm-10">
								<select class="form-control">
									<option>Level 1 Box</option>
									<option>Level 2 Box</option>
									<option>Level 3 Box</option>

								</select>
							</div>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button href="#stock" class="btn btn-default">Cancel</button>
						<button type="submit" class="btn btn-primary pull-right">Add</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
		</div>
	</div>
</section>