<section class="content-header">
    <h1>
        Drug Stock
        <small>Information about available drugs</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fa fa-th"></i>Stock</a></li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">All Items in Stock</h3>

            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Stock ID</th>
                            <th>Drug Name</th>
                            <th>Brand Name</th>
                            <th>Pack Quantity</th>
                            <th>Quantity in each Pack</th>
                            <th>Total</th>
                            <th>Selling Price</th>
                            <th>Supplier</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sto in allStock">
                            <td>{{sto.stockId}}</td>
                            <td>{{sto.drugName}}</td>
                            <td>{{sto.brandName}}</td>
                            <td>{{sto.noOfPacks}}</td>
                            <td>{{sto.qtyInPack}}</td>
                            <td>{{sto.total}}</td>
                            <td>{{sto.sellingAt}}</td>
                            <td>{{sto.supplier}}</td>
                            <td>
                                <a href="#stock/edit/{{sto.stockId}}" class="btn btn-xs btn-info"><i class="fa fa-list-alt"></i>  View</a>
                                <a href="#stock/{{sto.stockId}}/order" class="btn btn-xs btn-warning"><i class="fa fa-shopping-cart"></i>  Order</a>
                                <button class="btn btn-xs btn-danger" ng-click="removeStock(sto.stockId)"><i class="fa fa-close"></i>  Delete</button>
                            </td>
                        </tr>
                    <tfoot>
                        <tr>
                            <th>Stock ID</th>
                            <th>Drug Name</th>
                            <th>Brand Name</th>
                            <th>Pack Quantity</th>
                            <th>Quantity in each Pack</th>
                            <th>Total</th>
                            <th>Selling Price</th>
                            <th>Supplier</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
</section>