<section class="content-header">
    <h1>
        Requests
        <small>Requested Drug Information By Outlets</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#requests"><i class="fa fa-arrow-down"></i>Requests</a></li>
    </ol>

</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">All Requests</h3>

            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Drug</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>By</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="req in allReqs">
                            <td>{{req.requestID}}</td>
                            <td>{{req.drug}}</td>
                            <td>{{req.date}}</td>
                            <td>{{req.amount}}</td>
                            <td>{{req.userID}}</td>
                            <td>{{req.department}}</td>
                            <td><span class="label label-{{req.status == 'pending'? 'warning' : 'primary'}}">{{req.status == 'pending' ? 'Pending' : req.status}}</span></td>
                            <td>
                                <button class="btn btn-xs btn-info" ng-click="approveRequest(req.requestID)"><i class="fa fa-check"></i>  Approve</button>
                                <button class="btn btn-xs btn-danger" ng-click="rejectRequest(req.requestID)"><i class="fa fa-close"></i>  Reject</button>
                            </td>
                        </tr>
                    <tfoot>
                        <tr>
                            <th>Request ID</th>
                            <th>Drug</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>By</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
</section>